#title_post 
{
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

#btn_modify_post_space 
{
	color: orange;
	font-size: 1.5em;
	cursor: pointer;
}

#subtitle_post 
{
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
}

#area_pictures_post
{
	display: none;
	height: 120px;
    overflow-y: auto;
}

#picture_post 
{
    text-align: center;
    display: block;
}

	#picture_post img 
	{
		width: 100%;
		max-width: 1000px;
	}

#block_text_post 
{
    background-color: aliceblue;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    border: solid 2px #8a8a8a;
}

	#previewPicturePost
	{
		display: block;
		margin: auto;
		padding: 20px;
		max-width: 80%;
		max-height: 400px;
	}
	
	#text_post 
	{
		display: block;
		text-align: left;
	}
	
	#date_modification_post 
	{
		display: block;
		margin: 15px;
		text-align: end;
		color: grey;
		font-size: 0.8em;
		font-style: italic;
	}

.forms_posts_space {
    display: block;
    margin-left: 10%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    min-height: 25px;
    min-width: 80%;
    max-width: 80%;
}



#comments_area 
{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
}

	#comments_post 
	{
		display: block;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
		margin: 10px;
	}


.comments 
{
	display: block;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    margin: 40px 0px;
    min-height: 250px;
}

	.block_pictures_comments 
	{
		position: relative;
		min-height: 140px;
		width: 200px;
		display: inline-block;
		margin-top: -10px;
		float: left;
	}
		.block_pictures_comments img 
		{
			position: absolute;
		}

		.banner_comments 
		{
			display:none;
			z-index: 1;
			border: solid 3px black;
		}
		
		.avatar_comments 
		{
			width: 100px;
			z-index: 2;
			left: 30px;
			top: 30px;
			border: solid 2px black;
		}
		
		.pseudos_comm 
		{
			position: absolute;
			z-index: 2;
			left: 15px;
			top: -10px;
			padding: 3px 0px;
			display: block;
			width: 130px;
			text-align: center;
			font-weight: bold;
			background-color: rgba(255, 255, 255, 1);
			border: solid 3px black;
			border-radius: 25px;
		}
		
		.texts_comm 
		{
			vertical-align: top;
			padding: 10px;
			text-align: justify;
			display: block;
		}
		
		.dates_comm 
		{
			display: block;
			text-align: right;
			padding: 10px;
			color: grey;
			font-size: 0.8em;
			font-style: italic;
		}

.inputs_modify_post_space
{
	display:none;
}




@media (min-width:768px)
{
	.block_pictures_comments 
	{
		min-height: 155px;
		width: 320px;
	}
	.banner_comments 
	{
		display: block;
		width: 300px;
	}
}
@media (min-width:992px)
{
	.block_pictures_comments 
	{
		min-height: 210px;
		width: 420px;
	}
	
	.banner_comments 
	{
		width: 400px;
	}
}
@media (min-width:1200px)
{
	
}

