#title 
{
    display: block;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#block_description 
{
    display: block;
    text-align: center;
}

	#modify_description 
	{
		color: orange;
		font-size: 1.5em;
		cursor: pointer;
	}

	#description 
	{
		display: inline-block;
		font-size: 1.5em;
		font-style: italic;
	}
	
	#new_description
	{
		text-align: center;
		width: 100%;
		max-width: 600px;
		min-width: 200px;
		padding: 10px;
	}

.btn_forms_space
{
	background-color: rgb(104, 207, 255);
    padding: 10px 20px;
    border: rgb(39, 161, 218) 1px solid;
    color: rgb(229, 247, 255);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
	margin: 10px;
    display: inline-block;
}

.form_description
{
	display:none;
}

.forms_space
{
	display:none;
}

#area_pictures_space 
{
	display: none;
	height: 120px;
    overflow-y: auto;
}

	.pictures_add_post 
	{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		width: 200px;
		height: 110px;
		
	}
	
		.pictures_add_post img 
		{
			max-height: 100px;
			max-width: 100%;
		}
		.pictures_add_post img:hover
		{
			max-height: 102px;
			max-width: 200px;
		}

#block_posts 
{
    text-align: center;
}

	#area_add_post
	{
		text-align: center;
		background-color: #f1f1f1;
		display: inline-block;
		width: 90%;
		vertical-align: top;
		padding: 30px 10px;
		margin-left: 5%;
	}
		
		#text_add_post
		{
			max-height: 500px;
		}
	
	.posts_space
	{
		background-color: #f1f1f1;
		display: inline-block;
		width: 90%;
		vertical-align: top;
		padding: 10px;
		margin: 15px
	}
	
	.photo_alternate 
	{
		display: block;
		font-size: 3em;
		cursor: pointer;
		color: #464da9;
	}
		.photo_alternate:hover
		{
			color: #070e71;
		}
	
	#previewPicture 
	{
		display: block;
		margin: auto;
		padding: 20px;
		max-width: 80%;
		max-height: 400px;
	}
	
	#btn_add_post 
	{
		font-size: 2em;
		margin-top: 100px;
		background-color: #dadada;
		border-style: outset;
		width: 90%;
		padding: 15px;
		cursor: pointer;
	}

	.forms_posts_space 
	{
		display: block;    
		margin-left: 10%;
		padding: 10px;
		font-size: 1.2em;
		margin-bottom: 20px;
		min-height: 25px;
		min-width: 80%;
		max-width: 80%;
	}

.title_posts 
{
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.subtitle_posts 
{
    text-align: center;
    display: block;
    font-style: italic;
    font-size: 1.2em;
}

.text_posts 
{
    display: block;
    text-align: justify;
    height: 200px;
    background-color: aliceblue;
    padding: 10px;
}

.dates_creation 
{
    text-align: left;
    margin: 10px;
    display: block;
    color: grey;
    font-size: 0.8em;
}

.btns_delete_post 
{
    float: right;
    font-size: 2em;
    cursor: pointer;
    color: #c50000;
}


.area_posts
{
	text-decoration: none;
	color: black;
}



@media (min-width:768px)
{
	
}
@media (min-width:992px)
{
	#btn_add_post 
	{
		width: 200px;
	}
	.posts_space
	{
		width: 400px;
	}
}
@media (min-width:1200px)
{
	
}